
#content {
   display: table;
   width: 1000px;
   height: 300px;
   margin: 150px auto 0 auto;
   padding-bottom: 50px;
   }


.columns {
   width: 280px;
   height: 300px;
   background: url(images/header.jpg) repeat;
   color: white;
   text-align: center;
   float: left;
   margin: 0 20px 0 20px;    
}

.columns li {
   text-align: left;
   margin-bottom: 5px;
}

   

ul.value2 li a {

   font-size: 15px;
   color: white;
   text-decoration: none;

   }